

<form class="" action="/pens/<%= @pen.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

<!-- add heart checkbox -->
  <h1>Edit Pen
    <input id='fav' type='checkbox' name="pen[favorite]" value="true" <%= 'checked' if @pen.favorite %>>
      <label for='fav'>
          <span class="heart-off"></span>
          <span class="heart"></span>
      </label>
  </h1>

  <label for="brand">Brand</label><br>
  <input type="text" name="brand" value="<%= @pen.pen_brand.name %>">
  <br><br>

  <label for="pen[model]">Model</label><br>
  <input type="text" name="pen[model]" value="<%= @pen.model %>">
  <br><br>

  <label for="Type">Type</label><br>
  <select name="type" id="pen_select">
    <option placeholder=""></option>
    <% PenType.all.each do |t| %>
      <option value="<%= t.id %>" <%= 'selected' if t.id == @pen.pen_type_id %>><%= t.name %></option>
    <% end %>
  </select> <button type="button" name="add_new_pen_type" id="add_new_pen_type">+</button> <input type="text" id="pen_type" name="pen_type[name]" class="hide" placeholder="Add New Type">
  <br><br>

  <label for="pen[description]">Description (not required)</label>  <button type="button" id="show_suggestions">?</button> <span id="suggestions" class="hide">color, material, and so forth</span><br>
  <input type="text" name="pen[description]" value="<%= @pen.description %>">
  <br><br>

  <label for="pen[note]">Note (not required)</label>  <button type="button" id="show_note">?</button> <span id="note" class="hide">stories, condition, repairs, cost, and so on</span><br>
  <textarea name="pen[note]" rows="5" cols="75"><%= @pen.note %></textarea>
  <br><br>

  <input type="submit" name="submit" id="submit" value="edit">
</form>

<br>
<form class="" action="/pens/<%= @pen.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="delete">
</form>

<script type="text/javascript">

document.getElementById("add_new_pen_type").onclick = function(){
  toggleHidden("pen_type")

  document.getElementById("pen_type").disabled = !!document.getElementById("pen_type").disabled;

  document.getElementById("pen_select").disabled = !document.getElementById("pen_select").disabled;
};

document.getElementById("show_suggestions").onclick = function() {toggleHidden("suggestions")};

document.getElementById("show_note").onclick = function(){
  toggleHidden("note")};

function toggleHidden(name) {
  document.getElementById(name).classList.toggle("show");
}
</script>
