<form class="" action="/pens/<%= @pen.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <h1>Edit Pen
    <input id='fav' type='checkbox' name="pen[favorite]" value="true" <%= 'checked' if @pen.favorite %>>
      <label for='fav'>
          <span class="heart-off"></span>
          <span class="heart"></span>
      </label>
  </h1>

  <label for="brand">Brand</label><br>
  <input type="text" name="brand" value="<%= @pen.pen_brand.name %>" >
  <br><br>

  <label for="pen[model]">Model</label><br>
  <input type="text" name="pen[model]" value="<%= @pen.model %>" >
  <br><br>

  <label for="Type">Type</label><br>
  <select name="type" id="pen_select" >
    <option placeholder=""></option>
    <% PenType.all.each do |t| %>
      <option value="<%= t.id %>" <%= 'selected' if t.id == @pen.pen_type_id %>><%= t.name.split.map(&:capitalize).join(' ') %></option>
    <% end %>
  </select> <input class="link-input" type="button" name="add_new_pen_type" id="add_new_pen_type" onclick="togglePenType()" value="+"> <input type="text" id="pen_type" name="pen_type[name]" class="hide" placeholder="Add New Type" required disabled>
  <br><br>

  <br><br>

  <label for="pen[description]">Description</label> <span class="hint"> (optional) - color, material, and so on</span><br>
  <textarea name="pen[description]" rows="1" cols="75"><%= @pen.description %></textarea>
  <br><br>

  <label for="pen[note]">Note</label> <span class="hint">(optional) - anecdotes, condition, repairs, cost, and so forth</span><br>
  <textarea name="pen[note]" rows="5" cols="75"><%= @pen.note %></textarea>
  <br><br>

  <input type="submit" name="submit" id="submit" value="Edit">
</form>

<form class="" action="/pens/<%= @pen.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete">
</form>



<script type="text/javascript">

function toggleHidden(name) {
  document.getElementById(name).classList.toggle("show");
};

function togglePenType() {
toggleHidden("pen_type");

document.getElementById("pen_type").disabled = !document.getElementById("pen_type").disabled;

document.getElementById("pen_select").disabled = !document.getElementById("pen_select").disabled;
}

</script>
