<h1><%= @pen.model %>
  <%= '<span class="heart"></span>' if @pen.user == current_user && @pen.favorite %></h1>
<h2><%= @pen.pen_brand.name %> </h2>
<br>

<ul>
  <li>Type: <%= @pen.pen_type.name.split.map(&:capitalize).join(' ') %></li>
  <li><% if @pen.description.present? %>
        Description: <%= @pen.description %>
      <% end %>
  </li>
  <li>
    <% if @pen.note.present? %>
        Note: <%= @pen.note %>
    <% end %>
  </li>
</ul>

<br>
<p>created by <a href="/users/<%= @pen.user.slug %>"><%= @pen.user.username %></a></p>

<% if @pen.user == current_user %>
  <a href="/pens/<%= @pen.id %>/edit" class="button-link">Edit</a>

  <form class="" action="/pens/<%= @pen.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="ghost-button" type="submit" name="submit" value="Delete">
  </form>
<% end %>
