<h1><%= @pen.pen_brand.name %> - <%= @pen.model %> <%= 'heart' if @pen.user == current_user && @pen.favorite %></h1>

<h3>Type: <%= @pen.pen_type.name %></h3>

<% if @pen.description.present? %>
  <h3>Description: <%= @pen.description %></h3>
<% end %>

<% if @pen.note.present? %>
  <h3>Note:</h3>
    <p><%= @pen.note %></p>
<% end %>

<% if @pen.user == current_user %>
  <br><br>
  <a href="/pens/<%= @pen.id %>/edit">edit</a>
  <br><br>

  <form class="" action="/pens/:id/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="submit" value="delete">
  </form>
<% end %>

<!-- t.integer "pen_type_id"
t.integer "pen_brand_id"
t.string "model"
t.string "description"
t.text "note"
t.boolean "favorite"
t.integer "user_id" -->
