<form class="" action="/inks/<%= @ink.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <h1>Edit Ink
    <input id='fav' type='checkbox' name="ink[favorite]" value="true" <%= 'checked' if @ink.favorite %>>
    <label for='fav'>
        <span class="heart-off"></span>
        <span class="heart"></span>
    </label>
  </h1>

  <label for="brand">Brand</label><br>
  <input type="text" name="brand" value="<%= @ink.ink_brand.name %>" required>
  <br><br>

  <label for="ink[name]">Name</label><br>
  <input type="text" name="ink[name]" value="<%= @ink.name %>" required="">
  <br><br>

  <label for="ink[swatch]">Color Swatch</label>  <span class="hint">(optional) - it'd be nice to have</span><br>
  <input type="color" name="ink[swatch]" placeholder="#000000" value="<%= @ink.swatch %>">
  <br><br>

  <label for="">Color Category</label> <span class="hint">(optional) - can belong to multiple categories</span><br>
  <% ColorFamily.all.each do |cf| %>
    <label class="color-fam"><%= cf.name.capitalize %>
      <input type="checkbox" name="color_families[]" value="<%= cf.id %>" <%= 'checked' if @ink.color_family_ids.include?(cf.id)%>>
        <span class="checkmark <%= cf.name %>"></span>
    </label>
  <% end %>
  <br><br>

  <label for="ink[note]">Note</label>
    <span class="hint">(optional) - anecdotes, behavior, qualities, cost, and so on</span><br>
  <textarea name="ink[note]" rows="5" cols="75"></textarea>
  <br><br>

  <input type="submit" name="submit" value="Edit">
</form>

<form class="" action="/inks/<%= @ink.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="ghost-button" type="submit" name="submit" value="Delete">
</form>
