<!-- t.integer "ink_brand_id"
t.string "name"
t.string "swatch"
t.text "note"
t.boolean "favorite"
t.integer "user_id"
t.integer "pen_id" -->



<form class="" action="/inks" method="post">
  <h1>New Ink
    <input id='fav' type='checkbox' name="ink[favorite]" value="true">
    <label for='fav'>
        <span class="heart-off"></span>
        <span class="heart"></span>
    </label>
  </h1>

  <label for="brand">Brand</label><br>
  <input type="text" name="brand">
  <br><br>

  <label for="ink[name]">Name</label><br>
  <input type="text" name="ink[name]">
  <br><br>

  <label for="ink[Swatch]">Color</label><br>
  <input type="color" name="ink[Swatch]">
  <br><br>

  <!-- <label for="color_families" class="color_fam">Color Type(s)</label><br>
  <% ColorFamily.all.each do |c| %>
    <label class="color_fam"><%= c.name.capitalize %>
    <input type="checkbox" name="ink[color_families][]" value="<%= c.id %>>
    <span class="checkmark <%= c.name %>"></span>
    </label>
  <% end %> -->

  <% ColorFamily.all.each do |cf| %>
    <label class="color_fam"><%= cf.name.capitalize %>
      <input type="checkbox">
        <span class="checkmark <%= cf.name %>"></span>
    </label>
  <% end %>
  <br><br>

  <label for="ink[note]">Note</label>  <button type="button" id="show_note">?</button> <span id="note" class="hide">stories, condition, repairs, cost, and so on</span><br>
  <textarea name="ink[note]" rows="5" cols="75"></textarea>
  <br><br>

  <input type="submit" name="submit" value="add">
</form>
