<h1>Users</h1>

<ul class="index-list">
  <% @users.each do |u| %>
    <li><a class="camo-link" href="/users/<%= u.slug %>">
      <% if u.avatar_link.present? %>
        <img src="/images/avatars/<%= u.slug %>.jpg" alt="<%= u.username %> avatar">
      <% else %>
        <img src="/images/avatars/default.png" alt="<%= u.username %> avatar">
      <% end %>
      <div class="description">
        <h2><%= u.username %></h2>
        <% if u.tagline.present? %>
          <span><%= u.tagline %></span>
        <% end %>
      </div>
    </li></a>
  <% end %>
</ul>
