<h1>Users</h1>

<ul>
  <% @users.each do |u| %>
    <li><a href="/users/<%= u.slug %>"><%= u.username %></li></a>
      <!-- <%= u.username %></a> <%= u.pens.count %> Pens and  <%= u.inks.count %> Inks -->
  <% end %>
</ul>
