<h1><%= @user.username  %></h1>

<% if @user.avatar_link %>
  <img src="/public/images/avatars/<%= @user.slug %>.jpg" alt="<%= @user.username %> avatar">
<% else %>
  <!-- <img src="/public/images/avatars/default.jpg" alt="<%= @user.username %> avatar"> -->
<% end %>

<h3><%= 'Pens' %> (<%= @user.pens.count %>)</h3>
<h3><%= 'Inks' %> (<%= @user.inks.count %>)</h3>

<p><%= @user.description %> </p>
