<h1><%= @user.username  %></h1>

<% if @user.avatar_link && !@user.avatar_link.empty? %>
  <img src="/public/images/avatars/<%= @user.slug %>.jpg" alt="<%= @user.username %> avatar">
<% else %>
  <!-- <img src="/public/images/avatars/default.jpg" alt="<%= @user.username %> avatar"> -->
<% end %>

<% if @user.name && !@user.name.empty? %>
  <p><%= @user.name %></p>
<% end %>

<% if @user.tagline && !@user.tagline.empty? %>
  <p><%= @user.tagline %></p>
<% end %>

<h3><%= 'Pens' %> (<%= @user.pens.count %>) <% if @user == current_user %><a href="/pens/new">+</a><% end %></h3>
<h3><%= 'Inks' %> (<%= @user.inks.count %>) <% if @user == current_user %><a href="/pens/new">+</a><% end %></h3>
<br>
<p><%= @user.about %> </p>
