<h1><%= @user.username  %></h1>

<% if @user.tagline.present?%>
  <h2><%= @user.tagline %></h2><br>
<% end %>

<% if @user.about.present? %>
  <p><%= @user.about %> </p>
<% end %>


<% if @user.avatar_link.present? %>
  <img class="profile-image" src="/images/avatars/<%= @user.slug %>.jpg" alt="<%= @user.username %> avatar">
<% else %>
  <img class="profile-image" src="/images/avatars/default.png" alt="<%= @user.username %> avatar">
<% end %>

<div class="details">
<h3>
  <% if @user.pens.count == 0 %>
    Pens (0)
  <% else %>
    <a class="detail-link" href="<%= @user.slug %>/pens"><%= 'Pens' %> (<%= @user.pens.count %>)</a>
  <% end %>
  <% if @user == current_user %><a href="/pens/new">+</a><% end %>
</h3>
<h3>
  <% if @user.inks.count == 0 %>
    Inks (0)
  <% else %>
    <a class="detail-link" href="<%= @user.slug %>/inks"><%= 'Inks' %> (<%= @user.inks.count %>)</a>
  <% end %>
    <% if @user == current_user %><a href="/inks/new">+</a>
  <% end %>
</h3>

<p class="base-details">
  <% if @user.name.present? %>
    <%= @user.name %><br>
  <% end %>
  <a href="mailto:<%= @user.email %>" target="_top"><%= @user.email %></a><br>
  <% if @user == current_user %>
    <a href="/users/<%= @user.slug %>/edit">edit profile</a>
  <% end %>
</p>
</div>
